<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<script>
			//Afficher un msg dans la balise #result
			cfm = {
			  // cheat = true: the smarter win (that means the computer win)
			  // cheat = 'loose' : computer always loose
			  // cheat = false   : randomize
				cheat : true, // computer always win. choose
			  // set to true to show computer choice in html before the end of the game
			  opt_show_ia_choice : false,
			  // null_is_loose = true : if no winner, computer win
			  // null_is_loose = false: if no winner, no winner :)
			  null_is_loose : true,
			  
			  // how much times to bet ?
			  timer_place_your_bets : 6000,
			  // ia bet 600 ms after user
			  timer_ia_bet          : 600,   
			 	// no more bet 400 ms before the end
			  timer_no_more_bets    : 400,
			  
			  // define YOUR rules if you want.
				choices : [
			  "pierre",
			  "feuille",
			  "ciseaux"
			  ],
			  
			  // define only «player1 win» rules.
			  // Opposite case will be checked. Other case are "nul"
			  rules_player1_win : [
			    { player1 : "pierre",  player2 : "ciseaux", },
			    { player1 : "feuille", player2 : "pierre",  },
			    { player1 : "ciseaux", player2 : "feuille", },
			  ],
			  
			  // init stuffs (not really required)
			  user_bet : "",
			  ia_bet   : "",
				seconds : 0,
			  
			  timeout_ia_bet : null,
			  timeout_no_more_bets : null,
			  timeout_place_your_bets : null,
			  timeout_counter : null,
			  
			  // counter to decrease seconds
			  counter : function() {
			  	document.getElementById("seconds").value = cfm.seconds;
			    if (cfm.seconds > 0) {
			      cfm.timeout_counter = setTimeout(function(){
			        cfm.seconds--;
			        cfm.counter();
			      }, 1000);
			    
			    }
			  
			  },
			  
			  // on/off choice buttons
			  enableChoice : function(enable){
			    choices = document.getElementsByClassName("choice");
			    for (i=0;i<choices.length;i++) {
			      if (enable == true) {
			        choices[i].removeAttribute("disabled");
			      } else {
			        choices[i].setAttribute("disabled", "disabled");
			      }
			    }  
			  },
			  
			  // {{{ begin of init
			  init : function(container) {
			    console && console.group("init");
			    if (!container) {
			      console.log("not container");
			      container = document.getElementsByTagName("body")[0];
			      console.log("container", container);
			    }
			    
			    var wrapper = document.createElement("div");
			    wrapper.id = "chifoumi";
			    cfm.initInterface(wrapper);
			            
			    container.insertBefore(wrapper, container.firstChild);   
			    console && console.info("wrapper inserted");
			   	console && console.groupEnd();
			  }, // }}} end init
			  
			  // {{{ begin initInterface
			  initInterface: function(wrapper) {

					cfm.initStartResult(wrapper)
			    cfm.initShowChoices(wrapper);
			    cfm.initButtons(wrapper);

			  }, // }}} end initInterface
			  
			  // {{{ begin initStartResult
			  initStartResult(wrapper) {
			    var seconds = document.createElement("input");
			    seconds.id = "seconds";
			    seconds.size = "2";
			    seconds.setAttribute("disabled", "disabled");

			    var btn_start = document.createElement("button");
			    btn_start.className = "start";
			    btn_start.innerHTML = "Commencer";
			    btn_start.addEventListener("click", function(e) {
			      cfm.startPlay();
			    });
			    wrapper.appendChild(btn_start);
			    wrapper.appendChild(seconds);

			    var result = document.createElement("div");
			    result.id = "result";
			    wrapper.appendChild(result);

			  },
			  // }}} end initStartResult
			  
			  // {{{ begin initShowChoices
			  initShowChoices:function(wrapper) {
			    var show_user_choice = document.createElement("div");
			    show_user_choice.id = "show_user_choice";
			    show_user_choice.innerHTML = 'Vous avez choisi :';
			    var user_choice = document.createElement("span");
			    user_choice.id = "user_choice";
			    show_user_choice.appendChild(user_choice);
			    wrapper.appendChild(show_user_choice);

			    var show_ia_choice = document.createElement("div");
			    show_ia_choice.id = "show_ia_choice";
			    show_ia_choice.innerHTML = 'Choix de l\'Ordinateur :';
			    var ia_choice = document.createElement("span");
			    ia_choice.id = "ia_choice";
			    show_ia_choice.appendChild(ia_choice);
			    wrapper.appendChild(show_ia_choice);
			    }, // }}} end initShowChoices
			    
			  // {{{ begin initButtons
			  initButtons : function(wrapper) {
			    console && console.log("what is",cfm.choices);
			    for (i=0;i<cfm.choices.length;i++) {
			      var choice = cfm.choices[i];
			      var btn = document.createElement("button");
			      btn.className = "choice";
			      btn.setAttribute("data-choice", choice);
			      btn.innerHTML = choice;
			      btn.addEventListener("click", function(e){
			        e.preventDefault();
			        cfm.clickChoice(this.getAttribute("data-choice"));
			      });
			      console && console.log("append child");
			      wrapper.appendChild(btn);
			    };
			  },
			  // }}} end initButtons
			  clickChoice: function(choice){
			        cfm.user_bet = choice;
			        // console.group is open in that function, and is closed in ia bet timer
			        // cancel the previous timeout_bet_ia timer
			        if (cfm.timeout_ia_bet) {
			          clearTimeout(cfm.timeout_ia_bet);
			          console && console.groupEnd();
			        }
			        console && console.group("click detected on .choice : ", cfm.user_bet);
			        
			        document.getElementById("show_user_choice").style = "display:block";
			        document.getElementById("user_choice").style = "font-weight:bold;display:block";
			        document.getElementById("user_choice").innerHTML = cfm.user_bet;
			        cfm.timeout_ia_bet = setTimeout(function() {
			          cfm.betIa(cfm.user_bet);
			          document.getElementById("ia_choice").innerHTML = cfm.ia_bet;
			          
			          if (cfm.opt_show_ia_choice) {
			            document.getElementById("show_ia_choice").style = "display:block";
			            document.getElementById("ia_choice").style = "font-weight:bold;font-style:italic;display:block";
			          }
			          console && console.warn("computer's choice : «", cfm.ia_bet,"» (it might cheat)");
			          console && console.groupEnd(); 
			        }, cfm.timer_ia_bet);
			        
			        console && console.log("new user bet : «", cfm.user_bet+"»");
			        console && console.log("ia will choose in ", cfm.timer_ia_bet, 'ms');
			  },
			  
			  // {{{ begin startPlay
			  startPlay : function() {
			    console && console.warn("C'est parti !");
			    // ( calculate the time allowed to bet : place_your_bet + no_more_bet : let ia a chance to cheat ]:-) 
			    var time_play = (cfm.timer_place_your_bets + cfm.timer_no_more_bets)/1000;
			    cfm.time_play = parseInt(time_play);
			    cfm.seconds = cfm.time_play;
			    cfm.enableChoice(true);
			    cfm.counter();
			    
			    document.getElementById("show_user_choice").style = "display:none";
			    document.getElementById("show_ia_choice").style = "display:none";
			    document.getElementById("result").style = ";background-color:#ddd;";
			    document.getElementById("result").innerHTML = "Le jeu à commencé ! Faite vos jeux…";

			    // storing somewhere the output of setTimeout allow to cancel the timer (in case of future dev later)
			    cfm.timeout_place_your_bets = setTimeout(function(){
			      cfm.enableChoice(false);
			      document.getElementById("result").innerHTML = "rien ne va plus !";
			      cfm.timeout_no_more_bets = setTimeout(function(){
			        clearTimeout(cfm.timeout_ia_bet);
			        console && console.log("ia bet time out !");
			        cfm.timeout();
			      }, cfm.timer_no_more_bets);
			    }, cfm.timer_place_your_bets);
			  }, // }}} end startPlay
			  
			  timeout : function() {
			    var result = cfm.confront(cfm.user_bet, cfm.ia_bet);
			  	console && console.info("result : " + result);
			    
			    // show ia choice at the end (whatever the option was)
			    document.getElementById("show_ia_choice").style = "display:block";
			    document.getElementById("ia_choice").style = "font-weight:bold;font-style:italic;display:block";

			        
			    
			    if (result == 1) {
			      document.getElementById("result").style = "background-color:green;";
			      document.getElementById("result").innerHTML = "Bravo, vous avez gagné !";
			    } else {

			      if (result == -1 || cfm.null_is_loose) {
			        document.getElementById("result").style = "background-color:red";
			        if (cfm.null_is_loose) {
			          document.getElementById("result").innerHTML = "Perdu :D On rejoue ?";
			        } else {
			          document.getElementById("result").innerHTML = "Perdu, pas de chance :/ On rejoue ?";
			        }
			      } else if (result == 0) {
			         document.getElementById("result").style = "background-color:red";
			         document.getElementById("result").innerHTML = "Match nul ! Tu peux faire mieux ?";
			      }
			    }

			  },
			  confront : function(user_bet, ia_bet) {
			    console && console.group("[confront] user bet : «" + user_bet + "», ia bet : "+ia_bet);
			    var result = 0;
			    for(i=0;i<cfm.rules_player1_win.length;i++) {
			      rule = cfm.rules_player1_win[i];
			      console && console.log("rule "+i, rule);
			      if (rule.player1 == user_bet) {
			        if (rule.player2 == ia_bet) {
			          console && console.log("success \\o/")
			          result = 1;
			        }
			      } 
			      if (rule.player1 == ia_bet) {
			        if (rule.player2 == user_bet) {
			          console && console.log("looose /o\\");
			          result = -1;
			        }
			      }
			    }
			    if (result === 0) {
			      console && console.log("pat - no winner");
			    }
			    console && console.groupEnd();
			    return result;
			  },


			  betIa : function(user_bet) {
			    if (cfm.cheat != false) {
			      if (cfm.cheat == "copy") {
			        cfm.ia_bet = user_bet;
			      }

			      if (cfm.cheat) {
			        var fair = false;
			        for (i=0; i < cfm.rules_player1_win.length; i++) {
			          rule = cfm.rules_player1_win[i];
			          if (cfm.cheat != "loose" && user_bet == rule.player2) {
			            cfm.ia_bet =  rule.player1;
			            console.log("user_bet="+user_bet, rule);
			            console && console.warn("computer programmed to always win choosed «", cfm.ia_bet,"»");
			            fair = true;
			            break;
			          } else if (cfm.cheat == "loose") {
			            console && console.warn("computer programmed to always loose choosed «", cfm.ia_bet, "»");
			            cfm.ia_bet = rule.player2;
			            fair = true;
			            break;
			          }
			        }
			        if (!fair) {
			          cfm.ia_bet = "pierre";
			          cfm.user_bet = "ciseaux";
			          console && console.error("computer ia refuse to play against cheater");
			          console && console.log("new bet : user=",cfm.user_bet,"ia=", cfm.ia_bet);
			        }
			      }
			      return;
			    }

			    cfm.ia_bet = cfm.random();
			  },
			  random: function(){
			    var x = Math.floor(Math.random() * cfm.choices.length);
			    return cfm.choices[x];
			  }
			};

			(function() {
			   // put the game in container #chifou
			   // otherwise, game will be added at the beginning of body
			   cont = document.getElementById("chifou");
			   if (cont) {
			     cfm.init(cont);
			   } else {
			     cfm.init();
			   }
			})();
		</script>
	</body>
</html>