.clear{ clear: both;}
.left{float: left;}
.right{float: right;}
header,footer,section,aside,article{ display:block;}
ul,li{ margin: 0; padding: 0; list-style: none;}
a{font-weight: bold; text-decoration: none; color:#ffffff;}
a:hover{text-decoration: underline;}

html,
body{
	margin : 0;
	padding: 0;
	font   : 14px/1 Arial,sans-serif;
	color  : #ffffff;
	background-color: #262626;
	height: 100%;

}

#header{
	background-color: #E45317;
	padding: 15px;
}
	#header ul{
		text-align: center;
	}

	#header ul li{
		display: inline-block;
		margin:0 10px;
	}

	#header ul li a{
		display: block;
		overflow: hidden;
		width: 156px;
		height: 0;
		padding-top: 110px;
		border: 1px dashed #E45317;
		background:url("../img/m-pierre.png") center 5px no-repeat;
	}

	#header ul li a:hover,
	#header ul li a:focus{
		border-color: #ffffff;
		background-color: #262626;
	}

	#header ul li a[data-type="feuille"]{
		background-image:url("../img/m-feuille.png");
	}

	#header ul li a[data-type="ciseaux"]{
		background-image:url("../img/m-ciseaux.png");
	}

#footer{
	clear: both;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #ffffff;
	color: #000000;
	height: 50px;
}	
	
	#footer .inside{
		text-align: right;
		margin: 15px 0 0;
		text-transform: uppercase;
		font-size: 10px;
		font-style: italic;
	}

#wrapper{
    min-height: 100%;
    position: relative;
}

#left,
#right,
#main{
	float: left;
    margin-right: 4%;
    margin-top: 0;
    width: 30.6667%;
}

#left{
	clear: left;
	margin-right: 4%;
}

h2#result{
	text-align: center;
	text-transform: uppercase;
}

#main{
	min-height: 350px;
	margin: 10px 0;
	display:flex;
	justify-content:center;
	align-items:center;
}
	#main iframe{
	    border: 0 none;
	}

	#main.loader{
		background:url("../img/loader.gif") center center no-repeat;
	}

#right{
	margin-right: -5px;
}

.inside{
	position: relative;
}

.container{
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}

	.container .selection{
		width: 224px;
		height: 350px;
		background: center center no-repeat;
		margin: 10px auto;
	}

	.container .selection.pierre{
		background-image:url("../img/pierre.png");
	}

	.container .selection.feuille{
		background-image:url("../img/feuille.png");
	}

	.container .selection.ciseaux{
		background-image:url("../img/ciseaux.png");
	}